# Monorepo
packages/*/dist

# Turborepo
.turbo

# Expo
.expo
__generated__
web-build

# macOS
.DS_Store

# Node
node_modules

# Yarn 
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Env
.env.local

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Xcode
*.pbxuser
!default.pbxuser
*.xccheckout
*.xcscmblueprint
xcuserdata

# Android Studio
*.iml
.gradle
.idea/libraries
.idea/workspace.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

# Certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
