@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 240 10% 4%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;

    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 0%;
    --ring: 160 84% 39%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 0%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 0%;
    --warning: 25 95% 53%;
    --warning-foreground: 0 0% 0%;
    --info: 217 91% 60%;
    --info-foreground: 0 0% 0%;
  }

  .dark:root {
    --background: 20 14% 4%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 65%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 7% 15%;
    --accent-foreground: 0 0% 98%;

    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 0%;
    --ring: 160 84% 39%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 0%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 0%;
    --warning: 25 95% 53%;
    --warning-foreground: 0 0% 0%;
    --info: 217 91% 60%;
    --info-foreground: 0 0% 0%;
  }
}
